<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Deco blog</title>
	<link rel="stylesheet" href="../public/style.css">
	<% include blocks/fonts.ejs %> 
</head>
<body>

	<header>
		<% include blocks/header.ejs %>
		<% include blocks/banner.ejs %>		
	</header>

	<main>

		<% include blocks/form.ejs %>

	</main>

	<% include blocks/footer.ejs %>
	<script src="../public/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</body>
</html>