<div class="banner">
    <div class="left">
      <p>Leatest news</p>
      <h1>BodyBuilding best for you health</h1>
    </div>
    <div class="right">
      <div class="box__location">
        <img src="../public/img/box1.png" alt="" class="box__img box__active">
        <img src="../public/img/box1.png" alt="" class="box__img">
        <img src="../public/img/box1.png" alt="" class="box__img">
      </div>
      <div class="slider">
        <img src="../public/img/arrowTop.png" alt="" class="slider__arrow-top">
        <div class="slider__text">Featured Article</div>
        <img src="../public/img/arrowDown.png" alt=""
        class="slider__arrow-bot">
      </div>
    </div>
    <div class="banner__bg__wrap">
      <img src="../public/img/Layer 19.png" alt="" class="banner__bg__img">      <img src="../public/img/Layer2.png" alt="" class="banner__bg__img">
    </div>
  </div>