<footer>
  <div class="footer__location">

    <div class="about">
      <h1>About blog</h1>
      <p>Lorem ipsum dolor sit amet, conser adipisicing  esse cillum dolore nulla pariatur.</p>
      <div class="about__block"><p>Nathaliya Jhone</p></div>
    </div>

    <div class="latest-tweets">
      <h1>latest tweets</h1>
      <div class="twit">
        <div class="twit__top">
          <img src="../public/img/twiter.png" alt="">
          <p>@Twitter@magicalrebekah</p>
        </div>
        <p>Developer Advocate @heyval isaiyou knows the very well is about things .</p>
      </div>
      <div class="twit">
        <div class="twit__top">
          <img src="../public/img/twiter.png" alt="">
          <p>@Twitter@magicalrebekah</p>
        </div>
        <p>Developer Advocate @heyval isaiyou knows the very well is about things .</p>
      </div>
    </div>

    <div class="follow">
      <h1>Follow me instagram</h1>
      <div class="follow__location">
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      <div class="block"></div>
      </div>
    </div>

    <div class="latest-comments">
      <h1>latest comment</h1>
      <div class="latest-comment">
        <div class="latest-comment__from">From Alex : </div>
        <div class="latest-comment__text">Developer Advocate @heyval isaiyou know the very well is talking about things .</div>
      </div>
      <div class="latest-comment">
        <div class="latest-comment__from">From Jhon Doe : </div>
        <div class="latest-comment__text">Developer Advocate @heyval isaiyou know the very well is talking about things .</div>
      </div>
    </div>

  </div>
  <div class="basement">
  <div class="basement__text">@2015 copyright .all right reserved by awesome theme   i   terms policy   i   disclaimer </div>
  </div>
</footer>
