<div class="signUp">
<form method="post" action="../server.js" class="signUp__form">
  <h1>Signup to Newsletter</h1>
  <input type="text" placeholder="YOUR NAME" name="name" required>
  <input type="email" placeholder="YOUR EMAIL ADRESS" name="mail">
  <input type="submit" value="Subscribe Now">
</form>
</div>
