<header>
      <div class="top__menu">
    <div class="menu" id="menu">&#9776;</div> 
    <div class="menu__hover hidden">
      <ul>
        <a href="index"><li>Home</li></a>
        <a href="about"><li>About Me</li></a>
        <a href="shop"><li>Shop</li></a>
        <a href="contact"><li>Contact</li></a>
        <a href="registerOn"><li>RegisterOn</li></a>
      </ul>
    </div>
  <div class="logo">
    <a href="index"><img src="../public/img/Deco.png" alt=""> <p>BLOG</p></a>
  </div>
  <div class="social">
    <a href=""><img src="../public/img/rss.png" alt=""></a>
    <a href=""><img src="../public/img/twiter.png" alt=""></a>
    <a href=""><img src="../public/img/tumbler.png" alt=""></a>
    <a href=""><img src="../public/img/facebook.png" alt=""></a>
    <a href="" class="search"><img src="../public/img/search.png" alt=""></a>
    <div class="social__arrow">&#8744;</div>
  </div>
  </div>
</header>